@use '../../../scss' as *;

.forgotPassword {
	@include flex;
	flex-direction: column;
	background-color: $mainBg;
	box-shadow: $boxShadow;
	border-radius: $borderRadius;
	margin: 2rem auto;
	padding: 2rem;
	width: 50%;
	transition: all 0.5s;

	@include tablet {
		width: 60%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@include mobile {
		width: 85%;
	}

	h2 {
		color: $mainColor;
		text-align: center;
		padding: 0.5rem;
	}

	.forgotPasswordForm {
		@include flex;
		flex-direction: column;
		padding-top: 2rem;
		width: 80%;

		.forgotPasswordEmail {
			@include flex;
			width: 100%;
			margin-bottom: 1.5rem;
			position: relative;

			.forgotPasswordIcon {
				position: absolute;
				color: rgba(140, 140, 140, 0.9);
				font-size: $fontSizeMedium;
				left: 0.5rem;
			}

			input {
				width: 100%;
				border: 1px solid rgba(140, 140, 140, 0.9);
				border-radius: $borderRadius;
				padding: 0.8rem 2rem;

				&:focus {
					border-color: $mainColor;
				}
			}
		}
	}
}
